body{
    background-color: black;
    color: antiquewhite;
    margin: auto;
    padding: 0%;
}

h1{
    text-transform: uppercase;
    font-size: 2.rem;
    font-family: 'Courier New', Courier, monospace;
}

.CONTENT{
    width: 50%;
    margin-top: 60px;
    margin-left: 25%;
    text-align: center;
}

img{
    width: 100%;
    border:5px solid antiquewhite ;
}